<!DOCTYPE html>
<html>
  <head>
    <title>Fanta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>
      <%= render 'layouts/icons_svgs'%>
      <%= render 'layouts/header'%>
   <body>
    <%= yield %>
  </body>
      <%= render 'layouts/footer'%>
</html>
