<!DOCTYPE html>
<html>
  <head>
    <title>Fanta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
   <%#= render 'layouts/userlogin'%>
   <%= render 'layouts/icons_svgs'%>
   <%= render 'layouts/header'%>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>

  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/fancybox3/dist/jquery.fancybox.min.js"></script>
  <script src="/assets/slick.slider/slick.js"></script>
  <script src="/assets/js/jquery.matchHeight-min.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/select2/select2.min.js"></script>
  <script src="/assets/js/main.js"></script>

</html>
